body{
    margin: 0px;
}
.header_main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
}
.select_box1{
    flex:1;
    background-color: antiquewhite;
}
.select_box2{
    background-color:black;
    display: flex;
    flex-direction: row;
    flex:6;
    justify-content: right;
}
.select_box3{
    flex:1;
    background-color: blue;
}

.select_box2>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    margin:0px;
}

.select_box2>ul>li{
    margin-left: 15px;
    font-size: 10px;
}
.select_box2>ul>li>a{
    text-decoration-line : none;
    color: #ccc;
}

.btn_drop{
    background-color:#ccc;
    text-align: center;
}

.find{
    background-color: orange;
}

.nav_main{
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    justify-content: center;
    height: 60px;
}
.nav_box1{
    background-color: crimson;
    flex: 1;
}
.nav_box2{
    background-color:white;
    flex: 6;
}

.nav_box2>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    font-weight: bold;
}

.nav_box3{
    background-color: crimson;
    flex: 1;
}
#ad{
    height: 450px;
    background-color: darkgreen;
}
#search{
    background-color: aquamarine;
    height: 70px;
    display: flex;
    justify-content: center;
}

.search_box{
    display: flex;
    flex: row;
    align-items: center;
}

p{
    color: white;
}

.search_box_inner{
    height: 50px;
    border-radius: 20px;
    background-color: white;
    margin-left: 20px;
    width: 500px;
}

.search_box_inner>input{
    margin-left: 10px;
    padding: 5px;
    margin-top: 8px;
    border-width: 0;
    boder-left:0px; boder-bottom:0px;
    width: 450px;
    height: 25px;
    align-items: center;
}
.service_box>span{
    padding: 70px;
    font-weight: bold;
    font-size: 35px;
}

.service_box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service_box_inner{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 100px;
    background-color: #ccc;
    border-radius: 10px;
}