body{
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 100%;
    max-width: 350px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1{
    color: #333;
    text-align: center;
}

form{
    display: flex;
    margin-bottom: 20px;
}

#new-todo{
    flex: 1;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
    /* imput 요소 활성화 시 표시되는 border라인 */
    outline: none;
    transition: border-color 0.3s;
}

#new-todo:hover, #new-todo:focus{
    border-color:darkorange;
}